{% extends "./../common/bash.html" %} 
{% load static %}
{% block header %}
<div class="nav">
  <input type="checkbox" id="nav-check" />
  <div class="nav-header">
    <div class="nav-title">
    <a href="/">
    <img style='width:140px;height:60px' src="{% static 'img/logo/logo.png' %}" />
    </a>
    </div>
  </div>
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>

  <div class="nav-links">
    <a href="#services">Our Services</a>
    <a href="#blog" >Blog</a
    >
    <a href="#clients" target="_blank"
      >Our Brands</a
    >
    <a href="#contact">Get In Touch</a>
    <a href="#testimonials">Testimonials</a>
  </div>
  <hr style="color:#fff">
</div>
{% endblock header %}
