.our-blog {
  background-color: #fafafc;
  padding: 10px 0;
}

.text-center h2 {
  font-weight: 500;
  font-size: 1.6em;
}

.text-center h2 span {
  font-weight: 700;
  font-size: 24px;
}

.text-center p {
  max-width: 500px;
  margin: 0 auto;
  color: #6c757d;
  line-height: 1.5;
  font-size: 1em;
}

.col {
  width: 33.3333333%;
  overflow: hidden;
  padding: 15px;
}

.col .card {
  width: 100%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.col img {
  width: 100%;
  height: auto;
  border: 0;
}

.col .card-body {
  padding: 0 15px 15px 15px;
  background-color: #fff;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.card-body h5 {
  font-size: 24px;
  margin: 7px 0;
}

.card:hover {
  transform: translateY(-10px);
  transition: transform 0.3s ease;
}

.card p {
  color: #6c757d;
  text-align: justify;
}

.card-body .date-author span {
  color: #e74c3c;
}

.card-body h5 a {
  color: #000000;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

@media (min-width: 577px) and (max-width: 768px) {
  .col {
    width: 50%;
  }
}

@media (max-width: 576px) {
  .col {
    width: 100%;
  }
}

/* .blog-button {
    border-radius: 5px;
    margin-left: 10%;
    padding: 10px;
    color: #fff;
    background-color: orange;
    width: 200px;
    border: none;
    transition: all 0.3s ease-out;
    position: relative;
    z-index: 1;
    font-size: 18px;
    font-weight: 700;
} */

.card-title a {
  text-decoration: auto;
}

.blog-button {
  text-decoration: auto;
  border-radius: 5px;
  margin-left: 30%;
  padding: 10px;
  color: #fff;
  background-image: linear-gradient(
    to right,
    #f6d365 0%,
    #fda085 51%,
    #f6d365 100%
  );
  width: 200px;
  border: none;
  transition: all 0.3s ease-out;
  position: relative;
  z-index: 1;
  font-size: 18px;
  font-weight: 700;
  border: none;
  flex: 1 1 auto;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  box-shadow: 0 0 20px #eee;
  cursor: pointer;
}

.blog-button:hover {
  color: #fff;
  background-position: right center;
  cursor: pointer;
}
.blog-heading {
  /* background: #8080803d; */
  padding: 5px;
}

.contact-form {
  background: transparent;
  padding: 0px;
  margin: 50px;
  width: 70%;
}
.contact-form .form-control {
  border-radius: 0px;
  border: none;
  border-bottom: 1px solid #8080806e;
}

.contact-form .form-controls {
  border-radius: 0px;
  border: none;
  border-bottom: 1px solid #8080801f;
  width: 100%;
  margin: 10px;
  background: transparent;
}

.contact-form .form-controls:focus-visible{
  border: 1px solid #80808080;
  padding: 5px;
  outline: none;
  border-radius: 4px;
}

.contact-image {
  text-align: center;
}

.contact-image img {
  border-radius: 6rem;
  background: #80808026;
  width: 12%;
  margin-top: -3%;
  /* transform: rotate(29deg); */
}
.contact-form form {
  padding: 1%;
}
.contact-form h3 {
  margin-bottom: 8%;
  margin-top: -10%;
  text-align: center;
  color: #0062cc;
}
.contact-form .btnContact {
  width: 50%;
  border: none;
  border-radius: 1rem;
  padding: 1.5%;
  background: #dc3545;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}
.btnContactSubmit {
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  color: #fff;
  background-color: #0062cc;
  border: none;
  cursor: pointer;
}

.form-control:focus{
  border: 1px solid #8080805c !important;
}

.sbtn{
  margin-top: 40px;
  /* width: 100px; */
}

.testimonial-quote img{
  margin-left: 45%;
}


@media screen and (min-width: 1100px) {
  .testimonial-quote .quote-container{
    padding-top: 10%;
  }
  .testimonial-quote cite{
    padding-left: 37%;
    padding-top: 20px;
  }
}
.banner-higlight{
  background-color: #d41870;
}

.service-testimonial{
  background-color: #fafafc;
}

.service-col h4{
  font-size: 26px;
  color: #000000;
  border-bottom: 1px solid;
  width: 35px;
  margin-bottom: 25px;
}

.service-col p{
  font-size: 15px;
  color: #000;
  line-height: 1;
  font-weight: 500;
}

.service-col img{
  width: 40px;
  margin-left: 20%;
  border-radius: 50%;
  height: 40px;
  color: #fff;
  margin-bottom: 15px;
}

.services-heading{
  font-size: 26px;
  font-weight: 500;
  text-transform: uppercase;
}

.services-hr{
  color: #fff;
  width: 20%;
  margin-left: 40%;
}

.section-gridImg{
  background-color: #fff;
  padding: 30px;
}

.column-border{
  border: 1px solid #ffffff;
  padding: 0px !important;
}

.column-border img{
  width: 100%;
  height: 180px;
}
.form-group select{
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid #80808061;
  padding: 8px;
  color: gray;
}

.form-group select:focus-visible{
  outline: none;
}
.form-multiselect{
  padding: 20px 10px;
}

.form-multiselect p{
  border-bottom: 1px solid #3636362b;
  color: gray;
}

.select-option{
  padding: 5px 20px;
  font-size: 18px;
  color: #9e9e9e;
}

.select-option input{
  height: 18px;
  width: 18px;
}

#cars{
  color: #9e9e9e;
}

.footer{
  width: 100%;
  position: relative;
  margin: 0px;
  height: auto;
  background-color: #070617;
  padding: 15px;
}

.copyright{
  text-align: center;
  color: #fff;
  font-size: 16px;
}

.nav-links{
  z-index: 999;
  background: transparent;
}

.default-hide{
  display: none;
}